@media only screen and (min-width:600px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } 
    
    .border1{
        background-color: hsl(212, 45%, 89%);
        width:900px;
        padding: 200px;
        margin: auto;
        position: relative;  
        height: 650px;
    }
    #border2{
        padding: 10px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        width: 250px;
        margin-left: 120px;
        margin-top: -60px;
    }
    img{
        width: 100%;
        border-radius: 10px;
    }
    h1{
        text-align: center;
        font-family: 'Outfit', sans-serif;
        font-size: 15px;
    }
    p{
        text-align: center;
        font-size: 15px;
        font-family: 'Outfit', sans-serif;
    }
}
    @media only screen and (max-width:600px){
   
    .border1{
        background-color: hsl(212, 45%, 89%);
        width: 300px;
        padding: 40px;
        margin: auto;
        position: relative;
        height: 550px;
    
    }
    #border2{
        padding: 20px;
        background-color: hsl(0, 0%, 100%); 
        border-radius: 10px;
        width: 86%;
        height: 93%;
        margin: auto;
        position: relative;
    }
    img{
        width: 100%;
        border-radius: 10px;
        
    }
    h1{
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        font-family: 'Outfit', sans-serif;
        font-size: 15px;
        

    }
    p{
        text-align: center;
        font-size: 16px;
        margin-top: -20px;
        margin-left: 40px;
        margin-right: 40px;
        font-family: 'Outfit', sans-serif;
    }
}
